# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/
eggs/
*.manifest
*.spec

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# datasets (ignore all, then unignore example sets)
datasets/*
!datasets/multi_eye_example/
datasets/multi_eye_example/*.rrd
!datasets/hand_eye_example/
datasets/hand_eye_example/*.rrd
!datasets/fixed_eye_example/
datasets/fixed_eye_example/*.rrd
!datasets/0518_JG_Swing_LH_raw_zig/
datasets/0518_JG_Swing_LH_raw_zig/*.rrd
datasets/0518_JG_Swing_LH_raw_zig/*.ply
datasets/0518_JG_Swing_LH_raw_zig/*.png
datasets/0518_JG_Swing_LH_raw_zig/*.tif
